<?xml version="1.0"?>
<launch>
 
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot_control)/config/camera_control.yaml" command="load"/>
 
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/robot" args="joint_state_controller 
                                      yun_joint_position_controller"/>


  <!-- 控制脚本 -->
  <!-- <node pkg="robot_control" type="servo_commands.py" name="servo_commands" output="screen">
    <remap from="/racecar/output" to="/vesc/output"/>
  </node> -->


</launch>

