<?xml version="1.0"?>

<launch>
    <arg name="use_rviz" default="true" />

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carrace)/src/amcl.rviz" if="$(arg use_rviz)">
        <!-- remap from="/move_base_simple/goal" to="/move_base_simple/my_goal" / -->
    </node>
</launch>
